body {
  background-color: black;
  color: white;
}
input {
  background-color: gray;
  color: white;
}
button {
  background-color: gray;
  color: white;
}
select {
  background-color: gray;
  color: white;
}
::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::placeholder {
  color: white;
}
